@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

:root {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f5;
}
